# --- MetaTrader 5 Connection ---
MT5_ACCOUNT_NUMBER=12345678
MT5_PASSWORD=your_password
MT5_SERVER=your_broker_server
MT5_API_PORT=8000

# Auth Configuration Do not define if authentication is not required
#API_KEY_SEED=your_super_secret_admin_seed_here

# --- Strategy Settings ---
DEVIATION=20

# --- Database (SQLite) ---
# Use a relative path within the app directory, mapped to a docker volume for persistence
DATABASE_URL=sqlite:///./data/database.db
# Period use in the background scheduled job to upgrade trailing stop 0: OFF
TS_REFRESH_PERIOD=20 
#  'critical', 'error', 'warning', 'info', 'debug', 'trace'.
LOG_LEVEL=debug

# if false, error is raised when the trade price or volume is less than the minimum required
#TRADE_ROUND_UP_TO_MIN = False

# --- Email Settings (SMTP) ---
SEND_ORDER_TO=your_email@example.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWD=
SMTP_FROM=